<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet"> -->
  <script defer src="/javascripts/main.js"></script>

</head>

<body>
  <nav>
    <a href="/orderup" ><img src='/images/orderup_logo.png' id='logo'></a>
    <div class='title'><a ><%= title %> </a></div>
    <div>
    <% if (user) { %>
      <a>Welcome <%= user.name.split(' ')[0] %>! </a>
      <a href="/logout" class='log'>Log Out</a>
      <% } else { %>
        <a href="/auth/google" <%- title==='Login with Google' ? 'class="active"' : '' %>> Login with Google</a>
        <% } %>
      </div>

  </nav>
  <main>
