<%- include('../partials/header') %>
<br>
<br>
<h2>Thanks for placing your order!</h2>
<h2>The order has been archived and will no longer appear in your open orders section.</h2>


<%- include('../partials/footer') %>