<%- include('../partials/header') %>
<br>
<br>
<h1>Thanks for placing your order!</h1>
<h2>The order has been archived</h2>
<h2>and will no longer appear in your open orders section.</h2>


<%- include('../partials/footer') %>